body {
    font: 20px Monaco, monospace;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: rgb(189, 213, 156);
    border: 1px solid #999;
    float: left;
    font-size: 30px;
    font-weight: bold;
    line-height: 34px;
    height: 70px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 70px;
  }

  button {
    background-color: rgb(234, 217, 240);
    border: 1px solid;
    padding: 15px; 
    text-align: center;
    height: 50px;
    width: 300px;
    font: 15px Monaco, monospace;
    cursor: pointer;
  }

  b {
    color: rgb(218, 120, 23);
    font-weight: bolder;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  